[Desktop Entry]
Version=1.0
Name=ImageJ
GenericName=ImageJ
X-GNOME-FullName=ImageJ
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/users/2024/ds2/122003362/Téléchargements/Fiji.app/ImageJ-linux64 %F
TryExec=/users/2024/ds2/122003362/Téléchargements/Fiji.app/ImageJ-linux64
Terminal=false
StartupNotify=true
MimeType=image/*;
Icon=/users/2024/ds2/122003362/Téléchargements/Fiji.app/images/icon.png
StartupWMClass=net-imagej-launcher-ClassLauncher
